---
title: Redwood Coast Woodturners
---

<h1 class="main-cover">Welcome to the Redwood Coast Woodturners</h1>
<div class="ink-grid">
  <div class="column-group">
    <div class="tiny-100 small-100 medium-50 large-75 xlarge-75 who-we-are">
      <h4>Who we are</h4>
      We are a woodturning club in Humboldt County, California.
    </div>
  </div>
</div>
