---
title: Redwood Coast Woodturners
---

<h1 class="main-cover">Welcome to the Redwood Coast Woodturners (RedCoW)</h1>
<div class="ink-grid">
  <div class="column-group half-horizontal-gutters">
    <div class="tiny-100 small-100 medium-50 large-75 xlarge-75 who-we-are">
      <h4>Who we are</h4>
      We are a woodturning club in Humboldt County, California.
    </div>
    <div class="tiny-100 small-100 medium-50 large-25 xlarge-25">
      <h4>Next meeting</h4>
      August 11 6-8:30 PM
    </div>
  </div>
  <br />
  <div>
    <h4>Contact</h4>
    Contact Rand at <a href="mailto:rand@redcow.club">rand@redcow.club</a> for more information.
  </div>
</div>
<div class="top-space align-center"><i>Header photo &copy; William Warby CC-BY 2.0.</i></div>
