---
title: Redwood Coast Woodturners
---

<h1 class="main-cover">Welcome to the Redwood Coast Woodturners (RedCoW)</h1>
<div class="ink-grid">
  <div class="column-group horizontal-gutters">
    <div class="tiny-100 small-100 medium-50 large-75 xlarge-75 border-right-2px">
      <div class="margin-bottom-17px">
        <h4>Who we are</h4>
        We are a woodturning club in Humboldt County, California.<br />
      </div>
      <div>
        <h4>Meetings</h4>
        Meetings are typically the second Thursday of every month from 6:00 to 8:30 PM at McKinleyville Middle School, 2285 Central Ave., McKinleyville, CA.
        All meetings feature:
        <ul>
          <li>
            Live presentation/demonstration covering different turning techniques
          </li>
          <li>
            Free Library of over 80 books and DVD’s
          </li>
          <li>
            Raffle (for turning wood and other items)
          </li>
          <li>
            Show and Tell/Ask Session
          </li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        Contact Rand at <a href="mailto:rand@redcow.club">rand@redcow.club</a> for more information.
      </div>
    </div>
    <div class="tiny-100 small-100 medium-50 large-25 xlarge-25">
      <div class="margin-bottom-17px">
        <h4>Next meeting</h4>
        August 11 6-8:30 PM
      </div>
      <div>
        <h4>Map</h4>
        <div>
          <!--
            <iframe width="325" height="280" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=40.947396~-124.100344&amp;lvl=14&amp;w=325&amp;h=280&amp;sty=h&amp;typ=d&amp;pp=~~40.946698~-124.099626&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS"></iframe>
            <div style="margin: 12px 0 0 0;"><a target="_blank" href="https://www.bing.com/maps/?cp=40.947396~-124.100344&amp;sty=h&amp;lvl=14&amp;where1=40.946698,-124.099626&amp;mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=40.947396~-124.100344&amp;sty=h&amp;lvl=14&amp;rtp=~pos.40.946698_-124.099626__&amp;mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="https://www.bing.com/maps/?cp=qtr0464nrhv7&amp;sty=b&amp;lvl=18&amp;where1=40.946698,-124.099626&amp;mm_embed=be">View Bird's Eye</a></div>
          -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5068.253133054895!2d-124.10137174656218!3d40.94640357711485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54d15aeee595bf03%3A0xd26161072e9bcc92!2sMcKinleyville+Middle+School!5e0!3m2!1sen!2sus!4v1470169456913" width="300" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<div class="top-space align-center"><i>Header photo &copy; William Warby CC-BY 2.0.</i></div>
